<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="form-container">
        <h2>Register</h2>
        <form method="POST" action="{% url 'register_user' %}">
            {% csrf_token %}
            {% load crispy_forms_tags %}

            {{ user_form|crispy }}
            {{ profile_form|crispy }}

            <button type="submit" class="btn btn-success w-100">Register</button>
        </form>
        <span>Already have an account? <a href="{% url 'login' %}">Login</a></span>
    </div>
</body>
</html>
