<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome, {{ user.username }}</h1>
    <a>Logout</a>

    {% if user.is_admin %}
        <div>
            <h2>Admin Dashboard</h2>
            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18906.129712753736!2d6.722624160288201!3d60.12672284414915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x463e997b1b6fc09d%3A0x6ee05405ec78a692!2sJ%C4%99zyk%20trola!5e0!3m2!1spl!2spl!4v1672239918130!5m2!1spl!2spl" 
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    {% elif user.is_driver %}
        <div>
            <h1>Driver's Page</h1>
            <!-- Additional content specific to drivers can go here -->
        </div>
    {% elif user.is_client %}
        <div>
            <h1>Client's Page</h1>
            <!-- Additional content specific to clients can go here -->
        </div>
    {% else %}
        <div>
            <h1>General User Page</h1>
            <!-- Content for users with no specific role can go here -->
        </div>
    {% endif %}

</body>
</html>
